/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* debug */
.clearfix {
    background-color:dodgerblue;
}

/* header */
#logobox {
    background-color: palevioletred;
    height: 200px;
}

/* jumbo */
#jumbotron {
    background-color: darkkhaki;
    height: 500px;
    margin: 2% 0;
}

/* main */
.title {
    background-color: lightskyblue;
    height: 150px;
}

.content {
    background-color: lightskyblue;
    height: 500px;
    float: left;
}

aside.content {
    width: 20%;
    margin: 1% 0;
}

.center {
    width: 56%;
    margin: 1% 2%;
}

/* footer */
#credits {
    background-color: darkmagenta;
    height: 100px;
    margin-top: 1%;
}