/* general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    color: rgb(185, 185, 185);
    font-family: ‘Montserrat’, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* debug */
/* .clearfix {
    background-color:dodgerblue;
} */

/* header */
#logobox {
    margin-bottom: 40px;
    /* debug */
    /* background-color: palevioletred; */
}

#logobox img {
    border-right: solid 1px;
    padding-right: 40px;
}

#navbox {
    color:inherit
}

#navbox li {
    font-variant-caps: all-small-caps;
    font-weight: 100;
    /* font-size: 20px; */
    /* color: gray; */
    margin-right: 20px;
    display: inline-block;
}

#navbox a, #navbox a:hover, #navbox a:visited, #navbox a:active {
    text-decoration: none;
    color: inherit;
}

/* jumbo */
#jumbotron {
    background-image: url("../img/banner.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin: 2% 0;
    /* debug */
    /* height: 500px; */
}

#jumbotext {
    /* font-size: 20px; */
    color: white;
    padding: 25% 50% 5% 5%;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

/* main */
.title {
    /* debug */
    /* background-color: lightskyblue;
    height: 150px; */
}

.title h1 {
    font-weight: 700;
    font-size: 50px;
}

.content {
    background-color: lightskyblue;
    height: 500px;
    float: left;
}

aside.content {
    width: 20%;
}

.center {
    width: 56%;
    margin: 0 2%;
}

/* footer */
#credits {
    color: black;
    /* background-color: darkmagenta; */
    /* height: 100px; */
    margin: 2% 0;
    text-align: center;
}

#credits span {
    color: red;
}